#game-details-wrapper {
    background: #292929;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 20px 0;
}

#game-details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #game-details .container {
        width: 90%;
    }
    
    #game-details .col {
        margin: 10px;
    }

    #game-details .row {
        justify-content: space-between;
    }

    #game-details .legend {
        font-size: 18px;
        text-align: justify;
    }
