#post {
    background: #292929;
    width: 100%;
    height: 100vh;
}

    #post .container {
        height: 100%;
    }

    #post .col {
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

.post-img-wrapper {
    width: 100%;
    height: 600px;
    background-color: #ADADAD;
    position: relative;
    border-radius: 10px;
}

.form-post-wrapper {
    width: 90%;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.form-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

    .form-post input, select, textarea{
        max-width: 100%;
        max-height: 200px;
        background: none;
        border: none;
        border-bottom: 1px solid #ADADAD;
        font-family: 'Krona One';
        color: #fff;
        font-size: 18px;
        outline: none;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .form-post option {
        background-color: #292929;
        border: none;
        outline: none;
        font-size: 16px;
    }

    .form-post input:focus, select:focus{
        background-color: none;
        outline: none;
    }

    .custom-file-input {
        position: absolute;
        bottom: 5%;
        right: 5%;
        
    }

      .input-file {
        opacity: 0;
        bottom: 0;

        cursor: pointer;
      }
      
      #bannerJogoLabel {
        border-radius: 100px;
        padding: 15px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        cursor: pointer;
        color: #000;
        font-family: 'Krona One';
        font-size: 18px;
      }
      